* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid hotpink; */
  }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
  color: hsl(243, 87%, 12%);
}
#top-third {
  padding-left: 4.6%;
  padding-right: 4.6%;
  width: 100%;
}
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
  font-size: 2rem;
}
header{
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  padding-left: 4.6%;
  padding-right: 4.6%;
}
.img1{
  min-width:166px;
}
nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

nav ul {
  display: flex;
  flex-direction: row;
}

.hNav {
  display: flex;
  justify-content: center;
  color: hsl(243, 87%, 12%);
  padding-left: 10%;
  padding-right: 10%;
}
#lastNav {
  padding: 0%;
}

h1,.first-P, #how-fylo-works, .signup1{
  margin-left: 4%;
}
.first-h1{
  margin-right: 28%;
}
.first-P {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 28%;
}

.signup1 {
  border-radius: 5px;
  color: hsl(0, 0%, 75%);
  height: 38px;
  width: 37%;
  margin-right: 10px;
  padding-left: 10px;
}
.signup2 {
  border-radius: 5px;
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
  height: 38px;
  width: 23%;
}
.Lpadding-div {
  padding-left: 9.1%;
}
.Rpadding-div{
  padding-right: 9.1%;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right {
  width: 50%;
}
#first-img {
  width: 100%;
}

.section-container.background-image{
  margin-top: 12%
}

.background-image{
background-image: url("../images/bg-curve-desktop.svg");
background-repeat: no-repeat;
background-size: contain;
}


.second-content{
  background-color: #f8f8fe;
}
#how-fylo-works{
  color: green;
  text-decoration: underline;
}
#arrow-image {
  height: 30%;
  width: 15%;
}
#personal-quote-container{
  margin: auto;
  width:70%;
  background: #fff;

  padding: 10px;
  box-shadow: 2px 2px 2px  rgb(241, 239, 239);
}

#personal-quote{
  padding: 10px;
}
#quote-image-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#user-img{
  border-radius: 50%;
  width: 10%;
}
#quote-img{
  height: 25px;
  width: 20px;
}
#user-description-1, #user-description-2 {
padding-left: 15px;
list-style-type: none;
font-size: 12px;
}

#user-description-2{
  font-weight: bold;
}
#illustration-2{
  width: 100%;
}

.second-content{
  margin-top: 7%;
  padding: 10% 0;
}

.firstColumn{
  padding: 10px;
}
.get-started{
  border: 0;
   line-height: 2.5;
   padding: 0 10px;
   font-size: 1rem;
   text-align: center;
   display: flex;
   flex-direction:row;
   justify-content: center;
   color: #fff;
   border-radius: 5px;
   background-color: hsl(224, 93%, 58%);
   box-shadow: 2px 2px 2px black;
   fill:#000;
   cursor: pointer;
}
.enterEmail{
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align:justify;
  font-size: 1.5rem;
  text-align: inherit;
  fill:#000;
  cursor: pointer


 }
#wording-part{
  display: inline-block;
  width: 50%;
  margin:25px,50px;
  padding: 20px;
}

 #signUpbottom{
  display: inline-block;
  width: 50%;
  margin: 25px,50px;
  padding: 20px;
}

 #fyloMainlogo {
  fill:#fff;
  padding: 10px;
}

 .iconColumn{
  display: flex;
}

 .iconColumn svg {
  margin-left: 10px;
}
.footerTop {
  background-color: hsl(238, 22%, 44%);
  color:white;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  width:100%;
}

.footerTop h2{
  margin-bottom: 15px;
}
.footerBottom {
  background-color: hsl(243, 87%, 12%);
  padding: 70px 0;
  display: flex;
  justify-content: space-between;


 }
 .footerBottom .logo-footer {
   fill: #fff;

 }
.footerBottom a{
  color:#fff;
  text-decoration: none;
  margin-bottom:20px;
}
.footerBottom a::hover{
  fill:#000;
  cursor: pointer;
}
.footerBottom .iconColumn svg{
fill: #fff;
flex-direction: column;
}
.footerBottom .iconColumn svg:hover{
fill:#000;
cursor: pointer;
}


@media only screen and (max-width: 900px) {

.section-container {
  flex-direction: column-reverse;
  align-items: center;
}
.left-second-content{
  flex-direction: column-reverse;
  align-items: center;

}
.left h1, .left p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.second-content{
padding: 5% 0;
margin: 0;
}

div#image-quote {
  display: flex;
}

.Rpadding-div{
padding: 0;

}

.right.second-content{
margin-top: 7%;
}

#top-third {
display: flex;
flex-direction: column;
align-items: center;
}
.hNav {
padding-left: 5%;
padding-right: 5%;
font-size: .9em;
}
.section-container {
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.right, .left {
width: 100%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.first-h1{
margin-right: 28%;
width: 65%;
margin-right: 0%;
}

.first-P{
width: 85%;
padding-top: 25px;
padding-bottom: 25px;
margin-right: 0%;
}
#signups{
width:85%;
display: flex;
flex-direction: column;
align-items: center;
}
.signup1{
width: 100%;
margin: 0;
}
#sign2{
width: 100%;
height: 3rem;
font-size: 1.5em;
}

header{
width: 92%;
}
#first-img{
max-width: 600px;
width: 100%;

margin-top: 10%;
}
}

/*media queries*/

@media only screen and (max-width: 700px) {

    #arrow-image {
      height: 30%;
      width: 15%;
    }

    .section-container {
      flex-direction: column-reverse;
      align-items: center;
      align-content: space-between;
    }


    .left h1, .left p {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    .second-content{
    padding: 10% 0;
    margin: 0;
}

    div#image-quote {
      display: flex;
  }

  .Rpadding-div{
    padding: 0;

  }

  .right.second-content{
    margin-top: 7%;
  }


@media (max-width: 700px) {

  #top-third {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hNav {
    padding-left: 5%;
    padding-right: 5%;
    font-size: .9em;
  }
.section-container {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.right, .left {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-h1{
  margin-right: 28%;
  width: 65%;
  margin-right: 0%;
}

.first-P{
  width: 85%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 0%;
}
#signups{
  width:85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup1{
  width: 100%;
  margin: 0;
}
.signup2{
  width: 100%;
  height: 3rem;
  font-size: 1.5em;
}

header{
width: 92%;
}
#first-img{
  max-width: 600px;
  width: 100%;

  margin-top: 10%;
}
}

@media only screen and (max-width: 415px) {
  #sign2{
    font-size: 1.2;
    height: 2.5rem;
    color: red;
  }
}


  @media screen and (max-width: 700px) {
    .footerTop{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-around;
    }
    .get-started{
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align:justify;
    }
    .footerTop h2,p {
      text-align: center;
    }
    .enterEmail{
      text-align:left;
      font-size: 20px;
  }
    .signUpbottom .get-started {
      justify-content: center;



  }
@media screen and (max-width: 700px) {
  .footerBottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content:flex-start;
    padding-left: 10px;

  }
  .iconColumn {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-content: center;
    margin-left: 90px;


}

  .iconColumn svg {
    width: 50%;
    justify-content: center;



  }
  .logo-footer{

    margin-bottom: 30px;

  }
    .footerBottom svg {
      padding: 5px
    }
    .footerBottom .firstColumn {
      align-content: space-between;
      margin-bottom: 30px;
      align-items: flex-start;
      padding-left: 10px;
    }

    .firstColumn ul li {
      align-content: space-between;
      margin-bottom: 20px;
      align-items: flex-start;
      padding-left: 10px;


    }
    .footerBottom .secondColumn {
      align-content: space-between;
      margin-bottom: 30px;
      align-items: flex-start;
      padding-left: 10px;
      padding-top: 10px
    }

    .footerBottom .thirdColumn {
      align-content: space-between;
      margin-bottom: 30px;
      align-items: flex-start;
      padding-left: 10px;
      padding-top: 10px;
    }
    .thirdColumn ul li{
      padding-top: 10px;
      padding-left: 10px;
    }
    .secondColumn ul li{
      padding-top: 10px;
      padding-left: 10px;
    }
}
